In [1]:
import pandas as pd

In [2]:
from pandas import Timestamp

In [3]:
import numpy as np

In [4]:
donations = pd.read_csv("./Donations.csv")

In [5]:
projects = pd.read_csv("./Projects.csv")

In [6]:
donors = pd.read_csv("./Donors.csv")

/var/folders/yl/9bnyyv317zx6n3nl5t7jy2n80000gn/T/ipykernel_13450/3144490450.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  donors = pd.read_csv("./Donors.csv")

In [7]:
projects.count()

Project ID                          1110017
School ID                           1110017
Teacher ID                          1110017
Teacher Project Posted Sequence     1110017
Project Type                        1110017
Project Title                       1110011
Project Essay                       1110016
Project Short Description           1110014
Project Need Statement              1110014
Project Subject Category Tree       1109988
Project Subject Subcategory Tree    1109988
Project Grade Level Category        1110017
Project Resource Category           1109981
Project Cost                        1110017
Project Posted Date                 1110017
Project Expiration Date             1110003
Project Current Status              1110017
Project Fully Funded Date            826764
dtype: int64

In [8]:
project_max_date = Timestamp('2018-01-01')
project_min_date = Timestamp('2013-01-01')
donations_max_date = Timestamp('2018-05-01')
donations_min_date = Timestamp('2013-01-01')

In [9]:
donations["Donation Received Date"] = pd.to_datetime(donations["Donation Received Date"])
projects["Project Posted Date"] = pd.to_datetime(projects["Project Posted Date"])

In [10]:
donations["Donation Received Date"].max()

Timestamp('2018-05-09 11:38:47')

In [11]:
projects["Project Posted Date"].max()

Timestamp('2018-05-01 00:00:00')

In [12]:
donations["Donation Received Date"].min()

Timestamp('2012-10-08 13:53:00')

In [13]:
projects["Project Posted Date"].min()

Timestamp('2013-01-01 00:00:00')

In [14]:
donations = donations[donations["Donation Received Date"] > donations_min_date]
donations = donations[donations["Donation Received Date"] < donations_max_date]
projects = projects[projects["Project Posted Date"] < project_max_date]
projects = projects[projects["Project Posted Date"] > project_min_date]

In [15]:
donations.count()

Project ID                             4662374
Donation ID                            4662374
Donor ID                               4662374
Donation Included Optional Donation    4662374
Donation Amount                        4662374
Donor Cart Sequence                    4662374
Donation Received Date                 4662374
dtype: int64

In [16]:
projects.count()

Project ID                          979436
School ID                           979436
Teacher ID                          979436
Teacher Project Posted Sequence     979436
Project Type                        979436
Project Title                       979430
Project Essay                       979435
Project Short Description           979433
Project Need Statement              979433
Project Subject Category Tree       979407
Project Subject Subcategory Tree    979407
Project Grade Level Category        979436
Project Resource Category           979400
Project Cost                        979436
Project Posted Date                 979436
Project Expiration Date             979427
Project Current Status              979436
Project Fully Funded Date           738785
dtype: int64

In [17]:
projects.columns

Index(['Project ID', 'School ID', 'Teacher ID',
       'Teacher Project Posted Sequence', 'Project Type', 'Project Title',
       'Project Essay', 'Project Short Description', 'Project Need Statement',
       'Project Subject Category Tree', 'Project Subject Subcategory Tree',
       'Project Grade Level Category', 'Project Resource Category',
       'Project Cost', 'Project Posted Date', 'Project Expiration Date',
       'Project Current Status', 'Project Fully Funded Date'],
      dtype='object')

In [18]:
projects = projects.drop(['Project Title', 'Project Essay', 'Project Short Description', 'Project Need Statement', 'Project Current Status'], axis=1)

In [19]:
projects.columns.size

13

In [20]:
donations = donations.drop(["Donation Included Optional Donation", "Donor Cart Sequence"], axis=1)

In [21]:
donations.head()

,Project ID,Donation ID,Donor ID,Donation Amount,Donation Received Date
0,000009891526c0ade7180f8423792063,688729120858666221208529ee3fc18e,1f4b5b6e68445c6c4a0509b3aca93f38,178.37,2016-08-23 13:15:57
1,000009891526c0ade7180f8423792063,dcf1071da3aa3561f91ac689d1f73dee,4aaab6d244bf3599682239ed5591af8a,25.00,2016-06-06 20:05:23
2,000009891526c0ade7180f8423792063,18a234b9d1e538c431761d521ea7799d,0b0765dc9c759adc48a07688ba25e94e,20.00,2016-06-06 14:08:46
3,000009891526c0ade7180f8423792063,38d2744bf9138b0b57ed581c76c0e2da,377944ad61f72d800b25ec1862aec363,25.00,2016-05-15 10:23:04
4,000009891526c0ade7180f8423792063,5a032791e31167a70206bfb86fb60035,6d5b22d39e68c656071a842732c63a0c,25.00,2016-05-17 01:23:38

In [22]:
projects["Project ID"].count() == projects["Project ID"].nunique()

True

In [23]:
donations["Donation ID"].count() - donations["Donation ID"].nunique()

40

In [24]:
donations.sort_values(by=["Donation ID", "Donation Received Date"], inplace=True)
donations.drop_duplicates(subset=["Donation ID"], keep="last", inplace=True)

In [25]:
donations["Donation ID"].count() - donations["Donation ID"].nunique()

0

In [26]:
print(projects.count())
print(donations.count())

Project ID                          979436
School ID                           979436
Teacher ID                          979436
Teacher Project Posted Sequence     979436
Project Type                        979436
Project Subject Category Tree       979407
Project Subject Subcategory Tree    979407
Project Grade Level Category        979436
Project Resource Category           979400
Project Cost                        979436
Project Posted Date                 979436
Project Expiration Date             979427
Project Fully Funded Date           738785
dtype: int64
Project ID                4662334
Donation ID               4662334
Donor ID                  4662334
Donation Amount           4662334
Donation Received Date    4662334
dtype: int64

In [27]:
project_donations = projects.merge(donations, on='Project ID', how='left')

In [28]:
project_donations.count()

Project ID                          4433037
School ID                           4433037
Teacher ID                          4433037
Teacher Project Posted Sequence     4433037
Project Type                        4433037
Project Subject Category Tree       4432916
Project Subject Subcategory Tree    4432916
Project Grade Level Category        4433037
Project Resource Category           4432893
Project Cost                        4433037
Project Posted Date                 4433037
Project Expiration Date             4433026
Project Fully Funded Date           3934570
Donation ID                         4239997
Donor ID                            4239997
Donation Amount                     4239997
Donation Received Date              4239997
dtype: int64

In [29]:
donors = donors[["Donor ID", "Donor Is Teacher"]]

In [30]:
project_donations_donors = project_donations.merge(donors, on='Donor ID', how='left')

In [31]:
project_donations_donors.count()

Project ID                          4433037
School ID                           4433037
Teacher ID                          4433037
Teacher Project Posted Sequence     4433037
Project Type                        4433037
Project Subject Category Tree       4432916
Project Subject Subcategory Tree    4432916
Project Grade Level Category        4433037
Project Resource Category           4432893
Project Cost                        4433037
Project Posted Date                 4433037
Project Expiration Date             4433026
Project Fully Funded Date           3934570
Donation ID                         4239997
Donor ID                            4239997
Donation Amount                     4239997
Donation Received Date              4239997
Donor Is Teacher                    4239992
dtype: int64

In [32]:
project_donations_donors.head()

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Fully Funded Date,Donation ID,Donor ID,Donation Amount,Donation Received Date,Donor Is Teacher
0,7b017fa79510998c3960ed8f3b47c7c9,9ae756303b7919428b455baae0eb1998,70c5ec84f5faae238a0b17cd755921ce,4,Teacher-Led,"Literacy & Language, Math & Science","Literacy, Mathematics",Grades 3-5,Technology,347.93,2013-01-02,2013-05-31,NaN,0df1f587f4544de7d033d4eac68a69a1,8dd44940c567893c3f57e2534430752c,50.00,2013-05-15 15:55:53,No
1,b12c0c126c64963305a51ca60f687b53,0917cacae1d752ab5ead1cf1d9e86d59,4e8d5828adb05503f825d30d8a5c93a9,10,Teacher-Led,Math & Science,Applied Sciences,Grades 6-8,Technology,527.05,2013-01-02,2013-06-01,NaN,a3860c0de4eff71b5421e996d23ba504,1962145118a5a9618d965044b721afd9,100.00,2013-01-03 10:57:28,No
2,f00d5e1740d3b36e1edbaf770d6b08c4,0737f34d03196b62fc2bc1fc2e5c2672,2d5176b68bedd91b7bde3054d6dbdf5c,3,Teacher-Led,"Math & Science, Literacy & Language","Health & Life Science, Literacy",Grades PreK-2,Books,254.85,2013-01-02,2013-05-31,2013-05-25,16d0d868e724426319f81855262a1e8e,cb0b14571e2d2c7a484e4e85d3d6b52f,50.00,2013-04-05 12:59:54,No
3,f00d5e1740d3b36e1edbaf770d6b08c4,0737f34d03196b62fc2bc1fc2e5c2672,2d5176b68bedd91b7bde3054d6dbdf5c,3,Teacher-Led,"Math & Science, Literacy & Language","Health & Life Science, Literacy",Grades PreK-2,Books,254.85,2013-01-02,2013-05-31,2013-05-25,93cf2f52d6197a06f6dee1103859a331,4d47f946ffdeb59d4ff30ec21b2d68fa,50.00,2013-05-10 20:25:26,No
4,f00d5e1740d3b36e1edbaf770d6b08c4,0737f34d03196b62fc2bc1fc2e5c2672,2d5176b68bedd91b7bde3054d6dbdf5c,3,Teacher-Led,"Math & Science, Literacy & Language","Health & Life Science, Literacy",Grades PreK-2,Books,254.85,2013-01-02,2013-05-31,2013-05-25,987b25323a4b14bb5d50fa9daf7098c4,0e345dcdef0d2a36c9bd17bf1ac3e10a,26.02,2013-05-19 00:14:10,No

In [33]:
project_donations_donors[project_donations_donors['Donor Is Teacher'] == 'Yes'].shape

(1157094, 18)

In [34]:
project_donations_donors[project_donations_donors['Donor Is Teacher'] == 'No'].shape

(3082898, 18)

In [35]:
# logic dropping teacher donations
project_donations_donors = project_donations_donors[project_donations_donors['Donor Is Teacher'] != 'Yes']

In [36]:
project_donations_donors.shape

(3275943, 18)

In [37]:
project_donations_donors = project_donations_donors.drop(['Donor Is Teacher', 'Donor ID'], axis=1)

In [38]:
DONATION_PERIOD = 30
THRESHOLD_RATIO = 0.4
project_donations_donors["Posted Date to Donation Date"] = project_donations_donors["Donation Received Date"] - project_donations_donors["Project Posted Date"]
project_donations_donors["Posted Date to Donation Date"] = project_donations_donors["Posted Date to Donation Date"].dt.days

In [39]:
data = project_donations_donors[project_donations_donors["Posted Date to Donation Date"] < DONATION_PERIOD]

In [40]:
# data.sort_values(by="Posted Date to Donation Date", inplace=True)

In [41]:
data.head()

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Project Posted Date,Project Expiration Date,Project Fully Funded Date,Donation ID,Donation Amount,Donation Received Date,Posted Date to Donation Date
1,b12c0c126c64963305a51ca60f687b53,0917cacae1d752ab5ead1cf1d9e86d59,4e8d5828adb05503f825d30d8a5c93a9,10,Teacher-Led,Math & Science,Applied Sciences,Grades 6-8,Technology,527.05,2013-01-02,2013-06-01,NaN,a3860c0de4eff71b5421e996d23ba504,100.0,2013-01-03 10:57:28,1.0
6,45503329ec0026437c81a1e64505f853,886008686134c6cc871c81eeb428e64d,a52b97c6a2fbf0e035dc09d5de7c16e3,7,Teacher-Led,"History & Civics, Literacy & Language","Economics, Literacy",Grades PreK-2,Technology,565.87,2013-01-02,2013-05-31,2013-01-21,07ff9f8bb9817537135b7606669db689,1.0,2013-01-14 21:50:16,12.0
7,45503329ec0026437c81a1e64505f853,886008686134c6cc871c81eeb428e64d,a52b97c6a2fbf0e035dc09d5de7c16e3,7,Teacher-Led,"History & Civics, Literacy & Language","Economics, Literacy",Grades PreK-2,Technology,565.87,2013-01-02,2013-05-31,2013-01-21,160a4d42e6c583413f506b14e3f36028,1.0,2013-01-15 01:25:01,13.0
8,45503329ec0026437c81a1e64505f853,886008686134c6cc871c81eeb428e64d,a52b97c6a2fbf0e035dc09d5de7c16e3,7,Teacher-Led,"History & Civics, Literacy & Language","Economics, Literacy",Grades PreK-2,Technology,565.87,2013-01-02,2013-05-31,2013-01-21,1afad1806258ea5b6e07b10e0a63d56e,1.0,2013-01-12 21:10:01,10.0
9,45503329ec0026437c81a1e64505f853,886008686134c6cc871c81eeb428e64d,a52b97c6a2fbf0e035dc09d5de7c16e3,7,Teacher-Led,"History & Civics, Literacy & Language","Economics, Literacy",Grades PreK-2,Technology,565.87,2013-01-02,2013-05-31,2013-01-21,1cc37a654fc257d3c0eb391aaa26db19,1.0,2013-01-21 00:35:02,19.0

In [42]:
data[data["Posted Date to Donation Date"] < 0].count()

Project ID                          3186
School ID                           3186
Teacher ID                          3186
Teacher Project Posted Sequence     3186
Project Type                        3186
Project Subject Category Tree       3185
Project Subject Subcategory Tree    3185
Project Grade Level Category        3186
Project Resource Category           3185
Project Cost                        3186
Project Posted Date                 3186
Project Expiration Date             3186
Project Fully Funded Date           3076
Donation ID                         3186
Donation Amount                     3186
Donation Received Date              3186
Posted Date to Donation Date        3186
dtype: int64

In [43]:
data = data[data["Posted Date to Donation Date"] >= 0]

In [44]:
data.count()

Project ID                          2162865
School ID                           2162865
Teacher ID                          2162865
Teacher Project Posted Sequence     2162865
Project Type                        2162865
Project Subject Category Tree       2162810
Project Subject Subcategory Tree    2162810
Project Grade Level Category        2162865
Project Resource Category           2162799
Project Cost                        2162865
Project Posted Date                 2162865
Project Expiration Date             2162863
Project Fully Funded Date           2019778
Donation ID                         2162865
Donation Amount                     2162865
Donation Received Date              2162865
Posted Date to Donation Date        2162865
dtype: int64

In [45]:
data["Total Donations In The Period"] = data.groupby("Project ID")["Donation Amount"].transform("sum")

In [46]:
data["Fund Ratio"] = np.where(
        data["Project Cost"] > 0,
        data["Total Donations In The Period"] / data["Project Cost"], 1
)

In [47]:
data = data.drop(["Donation ID", "Donation Amount", "Donation Received Date", "Total Donations In The Period"], axis=1)

In [48]:
data.drop_duplicates(subset="Project ID", keep="first", inplace=True)

In [49]:
data.count()

Project ID                          579343
School ID                           579343
Teacher ID                          579343
Teacher Project Posted Sequence     579343
Project Type                        579343
Project Subject Category Tree       579330
Project Subject Subcategory Tree    579330
Project Grade Level Category        579343
Project Resource Category           579326
Project Cost                        579343
Project Posted Date                 579343
Project Expiration Date             579342
Project Fully Funded Date           508724
Posted Date to Donation Date        579343
Fund Ratio                          579343
dtype: int64

In [50]:
# "Not get funded" is 1
data["Label"] = data.apply(lambda x: 1 if x["Fund Ratio"] < 0.4 else 0, axis=1)

In [51]:
data["Label"].value_counts()

Label
1    307492
0    271851
Name: count, dtype: int64

In [52]:
data_test = data[["Fund Ratio", "Label", "Project Fully Funded Date"]]
data_test = data_test[(data_test["Label"] == 1) & (data_test["Project Fully Funded Date"].notna())]
# data_test 
# really_not_funded = 69954
# really_funded = 271188

In [53]:
labelled_data_p_d_d = data.drop(["Project Fully Funded Date", "Posted Date to Donation Date", "Fund Ratio"], axis=1)

In [54]:
labelled_data_p_d_d.shape

(579343, 13)

In [55]:
teachers = pd.read_csv("./Teachers.csv")

In [56]:
teachers.count()

Teacher ID                           402900
Teacher Prefix                       402872
Teacher First Project Posted Date    402900
dtype: int64

In [57]:
labelled_data_p_d_d_t = labelled_data_p_d_d.merge(teachers, on="Teacher ID", how="left")

In [58]:
schools = pd.read_csv("./Schools.csv")

In [59]:
schools.count()

School ID                       72993
School Name                     72993
School Metro Type               72993
School Percentage Free Lunch    71852
School State                    72993
School Zip                      72993
School City                     72766
School County                   72991
School District                 72993
dtype: int64

In [60]:
schools.head()

,School ID,School Name,School Metro Type,School Percentage Free Lunch,School State,School Zip,School City,School County,School District
0,00003e0fdd601b8ea0a6eb44057b9c5e,Capon Bridge Middle School,rural,56.0,West Virginia,26711,Capon Bridge,Hampshire,Hampshire Co School District
1,00004e32a448b4832e1b993500bf0731,The Woodlands College Park High School,urban,41.0,Texas,77384,The Woodlands,Montgomery,Conroe Ind School District
2,0002021bb799f28de224f1acc1ff08c4,Samantha Smith Elementary School,suburban,2.0,Washington,98074,Sammamish,King,Lake Washington Sch Dist 414
3,0004604f675212a8cac1161338265196,Kingsbury Country Day School,unknown,76.0,Michigan,48370,Oxford,Oakland,Michigan Dept Of Education
4,0004c9d50bcf0cea990f844e58b5e2c3,Redwater Elementary School,rural,50.0,Texas,75573,Redwater,Bowie,Redwater Ind Sch District

In [61]:
labelled_data_p_d_d_t_s = labelled_data_p_d_d_t.merge(schools, on="School ID", how="left").drop(["School Zip"], axis=1)

In [62]:
labelled_data_p_d_d_t_s.count()

Project ID                           579343
School ID                            579343
Teacher ID                           579343
Teacher Project Posted Sequence      579343
Project Type                         579343
Project Subject Category Tree        579330
Project Subject Subcategory Tree     579330
Project Grade Level Category         579343
Project Resource Category            579326
Project Cost                         579343
Project Posted Date                  579343
Project Expiration Date              579342
Label                                579343
Teacher Prefix                       579316
Teacher First Project Posted Date    579340
School Name                          579342
School Metro Type                    579342
School Percentage Free Lunch         576993
School State                         579342
School City                          575604
School County                        579339
School District                      579342
dtype: int64

In [63]:
resources = pd.read_csv("./Resources.csv")

In [64]:
resources.shape

(7210448, 5)

In [65]:
resources.nunique()

Project ID              1208649
Resource Item Name      1073886
Resource Quantity           341
Resource Unit Price       50253
Resource Vendor Name         31
dtype: int64

In [66]:
labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s.merge(resources, on="Project ID", how="left")

In [67]:
labelled_data_p_d_d_t_s_r.shape

(3600689, 26)

In [68]:
labelled_data_p_d_d_t_s_r.nunique()

Project ID                           579343
School ID                             62422
Teacher ID                           263294
Teacher Project Posted Sequence         478
Project Type                              3
Project Subject Category Tree            51
Project Subject Subcategory Tree        426
Project Grade Level Category              5
Project Resource Category                17
Project Cost                         122033
Project Posted Date                    1825
Project Expiration Date                1952
Label                                     2
Teacher Prefix                            6
Teacher First Project Posted Date      4494
School Name                           49066
School Metro Type                         5
School Percentage Free Lunch            101
School State                             51
School City                            9421
School County                          1717
School District                        9723
Resource Item Name                   684557
Resource Quantity                       281
Resource Unit Price                   36893
Resource Vendor Name                     28
dtype: int64

In [69]:
labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s_r.drop(["Resource Item Name", "Resource Quantity", "Resource Unit Price"], axis=1)

In [70]:
labelled_data_p_d_d_t_s[labelled_data_p_d_d_t_s["Project ID"] == "b2304d2fed2cdb4aecea50c1e35171b4"]

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,...,Label,Teacher Prefix,Teacher First Project Posted Date,School Name,School Metro Type,School Percentage Free Lunch,School State,School City,School County,School District
400877,b2304d2fed2cdb4aecea50c1e35171b4,31ecec9ba81af3076ed6916537068355,7f8cbd9fff1b0a3d801fac6e7dc11d5d,59,Teacher-Led,"Literacy & Language, Special Needs","Literacy, Special Needs",Grades 3-5,Books,10041.91,...,1,Mrs.,2013-08-11,Hollingers Island Elementary School,urban,72.0,Alabama,Mobile,Mobile,Mobile Co Public School Dist

In [71]:
labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s_r.drop_duplicates(subset=["Project ID"])

In [72]:
labelled_data_p_d_d_t_s_r.nunique()

Project ID                           579343
School ID                             62422
Teacher ID                           263294
Teacher Project Posted Sequence         478
Project Type                              3
Project Subject Category Tree            51
Project Subject Subcategory Tree        426
Project Grade Level Category              5
Project Resource Category                17
Project Cost                         122033
Project Posted Date                    1825
Project Expiration Date                1952
Label                                     2
Teacher Prefix                            6
Teacher First Project Posted Date      4494
School Name                           49066
School Metro Type                         5
School Percentage Free Lunch            101
School State                             51
School City                            9421
School County                          1717
School District                        9723
Resource Vendor Name                     28
dtype: int64

labelled_data_p_d_d_t_s_r shoud be the final data df

In [73]:
# labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s_r.sort_values(by=["Project Posted Date"])

In [74]:
labelled_data_p_d_d_t_s_r.head()

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,...,Teacher Prefix,Teacher First Project Posted Date,School Name,School Metro Type,School Percentage Free Lunch,School State,School City,School County,School District,Resource Vendor Name
0,b12c0c126c64963305a51ca60f687b53,0917cacae1d752ab5ead1cf1d9e86d59,4e8d5828adb05503f825d30d8a5c93a9,10,Teacher-Led,Math & Science,Applied Sciences,Grades 6-8,Technology,527.05,...,Ms.,2011-07-07,Trevor-Wilmot School,rural,35.0,Wisconsin,Trevor,Kenosha,Trevor-Wilmot Consolidated Sd,Best Buy Education
1,45503329ec0026437c81a1e64505f853,886008686134c6cc871c81eeb428e64d,a52b97c6a2fbf0e035dc09d5de7c16e3,7,Teacher-Led,"History & Civics, Literacy & Language","Economics, Literacy",Grades PreK-2,Technology,565.87,...,Mrs.,2012-06-19,Harp Elementary School,urban,74.0,Arkansas,Springdale,Washington,Springdale School District 50,Best Buy Education
2,7d9f823d78f59ce0b1e0a5633a21d742,af2a542b0f3dfa46a3db015596b381d1,3e3fc4aae13350f0bb04821bed088bad,1,Teacher-Led,Literacy & Language,Literature & Writing,Grades 3-5,Supplies,171.85,...,Mrs.,2013-01-02,Wogaman Middle School,urban,95.0,Ohio,Dayton,Montgomery,Dayton Public School District,ABC School Supply
4,926a87de099938949679c45ac9f45094,1456ca6cf952d8a17539d15c40277c09,ac999f73360af3d46c2d53cdd7cb7cc2,1,Teacher-Led,"Math & Science, History & Civics","Environmental Science, History & Geography",Grades PreK-2,Books,188.15,...,Mrs.,2013-01-02,Cox's Creek Elementary School,rural,45.0,Kentucky,Coxs Creek,Nelson,Nelson Co School District,AKJ Education
28,ce36b6be65ade42aec52049cb41f28e4,0cec312d40e429f02aaec79fbb57fa96,8f94be420256113c820e047c488b205b,1,Teacher-Led,"Applied Learning, Math & Science","Early Development, Mathematics",Grades PreK-2,Other,289.88,...,Mrs.,2013-01-02,North Webster Lower Elementary School,rural,67.0,Louisiana,Shongaloo,Webster,Webster Parish School Dist,Nasco

In [75]:
labelled_data_p_d_d_t_s_r.count()

Project ID                           579343
School ID                            579343
Teacher ID                           579343
Teacher Project Posted Sequence      579343
Project Type                         579343
Project Subject Category Tree        579330
Project Subject Subcategory Tree     579330
Project Grade Level Category         579343
Project Resource Category            579326
Project Cost                         579343
Project Posted Date                  579343
Project Expiration Date              579342
Label                                579343
Teacher Prefix                       579316
Teacher First Project Posted Date    579340
School Name                          579342
School Metro Type                    579342
School Percentage Free Lunch         576993
School State                         579342
School City                          575604
School County                        579339
School District                      579342
Resource Vendor Name                 557509
dtype: int64

In [76]:
labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s_r.drop_duplicates(subset=["Project ID"])

In [77]:
labelled_data_p_d_d_t_s_r.count()

Project ID                           579343
School ID                            579343
Teacher ID                           579343
Teacher Project Posted Sequence      579343
Project Type                         579343
Project Subject Category Tree        579330
Project Subject Subcategory Tree     579330
Project Grade Level Category         579343
Project Resource Category            579326
Project Cost                         579343
Project Posted Date                  579343
Project Expiration Date              579342
Label                                579343
Teacher Prefix                       579316
Teacher First Project Posted Date    579340
School Name                          579342
School Metro Type                    579342
School Percentage Free Lunch         576993
School State                         579342
School City                          575604
School County                        579339
School District                      579342
Resource Vendor Name                 557509
dtype: int64

In [78]:
labelled_data_p_d_d_t_s_r.nunique()

Project ID                           579343
School ID                             62422
Teacher ID                           263294
Teacher Project Posted Sequence         478
Project Type                              3
Project Subject Category Tree            51
Project Subject Subcategory Tree        426
Project Grade Level Category              5
Project Resource Category                17
Project Cost                         122033
Project Posted Date                    1825
Project Expiration Date                1952
Label                                     2
Teacher Prefix                            6
Teacher First Project Posted Date      4494
School Name                           49066
School Metro Type                         5
School Percentage Free Lunch            101
School State                             51
School City                            9421
School County                          1717
School District                        9723
Resource Vendor Name                     28
dtype: int64

In [88]:
labelled_data_p_d_d_t_s_r = labelled_data_p_d_d_t_s_r.sample(frac = 1)

In [90]:
labelled_data_p_d_d_t_s_r.to_csv("./Dataset.csv", index=False)

In [89]:
labelled_data_p_d_d_t_s_r.iloc[99:150]["Project Posted Date"]

68378     2013-03-24
2909410   2017-06-25
1685147   2015-12-22
1730771   2016-01-22
164293    2013-08-03
2365108   2016-10-08
1769506   2016-02-09
3527363   2017-12-01
1172078   2015-03-27
1030142   2014-12-24
3056552   2017-08-07
357436    2013-11-05
198327    2013-08-21
2142187   2016-08-12
1408757   2015-08-29
2965225   2017-07-17
1620351   2015-11-22
3292098   2017-09-29
3523638   2017-11-29
2328831   2016-09-25
2837115   2017-05-15
2922076   2017-06-30
779282    2014-08-29
2105579   2016-08-04
1556829   2015-10-19
1724787   2016-01-18
291227    2013-09-29
1169285   2015-03-24
2433572   2016-11-12
3494537   2017-11-18
605428    2014-05-23
412902    2013-12-08
594339    2014-05-10
2596767   2017-01-28
434384    2013-12-29
491291    2014-02-15
1920542   2016-04-13
3230922   2017-09-13
2822263   2017-05-08
2678604   2017-03-03
1114293   2015-02-15
3134672   2017-08-23
1115263   2015-02-15
964997    2014-11-08
1561533   2015-10-22
1680870   2015-12-20
877099    2014-09-24
1965853   2016-05-15
1223996   2015-05-14
3225516   2017-09-11
1465507   2015-09-13
Name: Project Posted Date, dtype: datetime64[ns]